// Define variables for your color scheme


// dark mode colors
$color-primary:  #FF999A; // color for h1
$color-primary-light:        #FB6BA2; // color for h2

$color-secondary:      #9D7DE6; // color for p
$color-secondary-dark: #603FB2; // color for button 

$color-dark:           #22193A; // color for back ground

// light mode colors
//$color-light:           #F9F7FD; // background light
